@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.cdnfonts.com/css/miama');



* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* shared styles */
.header-button-one {
    color: white;
    background-color: rgba(230, 83, 60, 1);
    padding: 16px 47px;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 42px;
    border: none;
}

.header-button-two {
    color: white;
    background-color: transparent;
    padding: 16px 47px;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 42px;
    border: 2px solid white;
}

.heading-style {
    font-weight: 900;
    font-size: 3rem;
    color: white;
}

.heading-description-style {
    font-weight: 400;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.5);
}

/* header part styling */

header {
    background-color: black;
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 1), rgba(119, 119, 119, 0));

}

.navbar {
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding-top: 57px;
}

.navbar-heading {
    font-weight: 800;
    font-size: 2.25rem;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 47px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    border-radius: 38px;
    padding: 4px;


}

.nav-links {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

#home-link {
    padding: 8px 20px;
    color: white;
    background-color: rgba(230, 83, 60, 1);
    border: 2px solid transparent;
    border-radius: 38px;
    font-weight: 600;


}

#about-link {
    margin-right: 24px;
}

.hamburger-menu {
    display: none;
}


/* header part styling */

.header-contents {
    max-width: 70%;
    color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-contents-wrapper {
    max-width: 55%;
    gap: 28px;
    display: flex;
    flex-direction: column;
}

.header-title {
    font-weight: 900;
    font-size: 4.875rem;
}

.shape {
    font-family: 'Miama';
    font-weight: 400;
}

.header-description {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);

}

.header-buttons {
    display: flex;
    gap: 14px;
}

/* header cards */
.header-bg-card {
    position: relative;
}

.card-one {
    position: absolute;
    top: 70%;
    right: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 50%;
    padding: 20px 23px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.card-one-title {
    font-size: 1.5rem;
    font-weight: 900;
}

.card-one-description {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(239, 237, 232, 0.65);
}

.card-two {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 17px 24px;
    width: 38%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 20%;
    left: 60%;
}

.card-two-title {
    font-weight: 900;
    font-size: 2.5rem;
}

.card-two-description {
    font-weight: 400;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.65);

}

/* habits section */

main>section {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.habits-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding-top: 100px;
    text-align: center;
    gap: 58px;
}

.habits-wrapper {
    max-width: 65%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.habits-title {
    font-weight: 900;
    font-size: 3rem;
}

.habits-description {
    font-size: .95rem;
    color: rgba(255, 255, 255, 0.5);
}

.habits-card-wrapper {
    display: flex;
    gap: 40px;


}

.habits-card {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    gap: 30px;
    ;
    justify-content: center;
    align-items: center;
}

.habit-card-img {
    width: 180px;
    height: 180px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 96px;


}

.habits-card-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: .95rem;
}

/* extra mile styling */

.extra-mile-wrapper {
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    max-width: 70%;
    margin: 100px auto;
    padding: 30px;
    justify-content: space-between;
    border-radius: 18px;
    align-items: center;


}

.extra-mile-contents {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 48%;
    gap: 30px;


}

.extra-mile-heading {
    font-size: 3rem;
    font-weight: 900;
}

.extra-mile-description {
    font-weight: 400;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.5);
}

#extra-mile-img {
    width: 40%;
    border-radius: 18px;

}

/* bmi styling part */

.bmi-bg-color{
    max-width: 100%;
    background-color: rgba(34, 34, 34, 1);
}

.bmi-heading {
    margin: 0 auto;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.bmi-calculator {
    max-width: 70%;
    display: flex;
    margin: 0 auto;
    background-color: rgba(34, 34, 34, 1);
    justify-content: left;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 52px;
}

.bmi-table-contents {
    display: flex;
    flex-direction: column;
    gap: 52px;
    color: white;
    max-width: 70%;
    margin: 0 auto;
}

.table-heading {
    color: white;
    font-size: 1.75rem;
    font-weight: 900;
}

.bmi-table {
    font-weight: 300;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    table-layout: fixed;
    width: 50%;
    
}

.bmi-table th {
    font-weight: 300;
    padding: 13px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    

}
.bmi-table td {
    padding: 13px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;

}

.bmi-form-contents{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.bmi-title{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.form-heading{
    color: white;
    font-size: 1.75rem;
    font-weight: 900;
}

.form-description{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: .9rem;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

input, select{
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 13px 20px;
}

/* team  */
.team-heading{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: center;
    max-width: 45%;
    margin: 0px auto;
    margin-top: 80px;

}
.team-title{
    font-weight: 900;
    font-size: 3rem;
}

.team-description{
    color: rgba(255, 255, 255, 0.5);
}

.team-card-wrapper{
    max-width: 70%;
    margin: 0 auto;
    background-color: rgba(34, 34, 34, 1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    margin-bottom: 88px;
}

.team-card{
    position: relative;
    color: white;
}

.team-card img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.card-title{
    position: absolute;
    top: 80%;
    left: 5%;
    font-weight: 900;
    font-size: 1.25rem;
}
.card-description{
    position: absolute;
    top: 85%;
    left: 5%;
    font-weight: 400;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.5);
}

/* footer part */

footer{
    background-color: rgba(255, 255, 255, 0.1);

}

.footer-wrapper{
    display: flex;
    max-width: 73%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 66px;
    padding-bottom: 80px;
}

.fitness{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fitness-title{
    color: rgba(230, 83, 60, 1);
    font-size: 4.375rem;
    font-style: italic;
    font-weight: 800;
}

.fitness-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 300;
}


.get-started-one{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.get-started-two{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.list-heading{
    font-weight: 600;
    font-size: 2rem;
    color: white;
}

.get-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.get-links{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4375rem;
    color: rgba(255, 255, 255, 0.5);
}
.horizon{
    border: 2px solid rgba(255, 255, 255, 0.1);
    max-width: 75%;
    margin: 0 auto;
}

.copyright{
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 36px;
    padding-bottom: 36px;
}